<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2b42b645-63e9-43e7-a7c0-54d27a0ad15c" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2b42b645-63e9-43e7-a7c0-54d27a0ad15cfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
